.section__title {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
}
.section__subtitle {
  color: #fff;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
}
